@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;600;700;800&family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nunito Sans';
  color: #fff;
  background: #222;
}

header{
  background: url('../Assets/Bg-header.png');
}

nav{
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 7rem;
}

.nav-btn{
  display: flex;
  gap: 1rem;
}

select {
  padding: .5rem .1rem .5rem 1.2rem;
  background-color: rgba(0, 0, 0, .75);
  background-image: url("./Assets/outline_earth.svg");
  background-size: .9rem;
  background-repeat: no-repeat;
  background-position: 0.2rem center;
  font-size: .7rem;
  color: #737373;
  border: 1px solid #737373;
  border-radius: 2px;
  outline: none;
  font-weight: 700;
  font-family: 'Nunito Sans';
}

.btn{
  padding: .45rem 1.3rem;
  border: none;
  border-radius: 2px;
  outline: none;
  background: #e50914;
  color: #fff;
  font-family: 'Nunito Sans';
  font-weight: 700;
}

.btn:hover {
  cursor: pointer;
  background: #f40612;
  transition: all ease-in-out 0.1s;
}

.btnn{
  padding: .7rem .1rem .75rem .8rem;
  border-radius: 0 2px 2px 0 ;
  width: 25%;
  
}

.hero-section{
  padding: 6rem 0;
}

.hero-section h1{
  font-size: 2.8rem;
  font-weight: 700;
}

.hero-text{
  width: 40%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.newsletter{
  width: 35%;
  margin: 0 auto;
}

.newsletter input{
  width: 75%;
  border: none;
  outline: none;
  padding: .85rem .1rem .8rem .8rem;
  border-radius: 2px 0 0 2px;
  font-family: 'Nunito Sans';
  font-weight: 600;
  font-size: .7rem;
}

.btn-content{
  display: flex;
  gap: .5rem;
  /* padding-left: .5rem; */
  align-items: center;
}

.right-arrow{
  width: .4rem;
}

.highlight-1,
.highlight-2,
.highlight-3,
.highlight-4{
  background: #000;
  padding-bottom: 2rem;
}

.platforms,
.downloads,
.devices,
.kids{
  display: flex;
  align-items: center;
  width: 80%;
  margin: .4rem auto 0 auto;
}

.platform-img img,
.downloads-img img,
.devices-img img,
.kids-img img{
  height: 20rem;
}

.description h2{
  font-size: 2.5rem;
  padding-bottom: .5rem;
}

.description h3{
  width: 70%;
  font-weight: 400;
}

.FAQ{
  background: #000;
  margin: .4rem auto 0 auto;
  padding-bottom: 3rem;
}

.FAQ h2{
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
}

.accordion-main{
  padding-bottom: 2rem;
}

.accordion-div{
  width: 50%;
  margin: .5rem auto;
}

.accordion{
  width: 100%;
  text-align: left;
  padding: .7rem;
  /* margin-bottom: 1rem; */
  border: none;
  outline: none;
  background: #303030;
  color: #fff;
  position: relative;
  transition: ease .2s;
}

.accordion:hover{
  cursor: pointer;
  background: #222;
}

.accordion::after{
  content: '+';
  position: absolute;
  right: 0;
  bottom: 0.5rem;
  padding-right: 1rem;
  font-size: 1.3rem;
}

.panel{
  padding: .7rem;
  display: none;
  background-color: #222;
  overflow: hidden;
  transition: 1s;
}

.accordion.active::after{
  content: '-';
}

.membership h5{
  width: 40%;
  margin: 0 auto;
  font-size: .7rem;
  text-align: center;
  margin-bottom: 1rem;
}

/* FOOTER */

footer {
  background: #000;
  color: #737373;
  padding-bottom: 2rem;
  margin-top: .4rem;
}

.container-ft {
  width: 60%;
  margin: 0 auto;
}

.phone h4 {
  padding: 1rem 0;
  font-size: .8rem;
}

.options-ft {
  display: flex;
  margin: 1rem 0;
}

.phone h4:hover,
.options-ft h4:hover{
  color: #d2d2d2;
  transition: all ease-in-out .1s;
  cursor: pointer;
}

.options-ft>div {
  width: 25%;
}

.col h4 {
  margin-bottom: .8rem;
  font-size: .8rem;
}